PickGo.xcodeproj/xcuserdata/lily.xcuserdatad/xcschemes/xcschememanagement.plist
PickGo.xcodeproj/xcuserdata/zhoutimena.xcuserdatad/xcschemes/xcschememanagement.plist
PickGo.xcodeproj/xcuserdata/YueyangWu.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
.DS_Store
